site_name: Documentation for pynxtools-apm
site_description: |
  The documentation for the pynxtools-apm plugin.
site_author: The NOMAD Authors
repo_url: https://github.com/FAIRmat-NFDI/pynxtools-apm
edit_uri: ""

nav:
  - Home: index.md
  - Tutorials:
    - tutorial/installation.md
    - tutorial/standalone.md
    - tutorial/contributing.md
    # - tutorial/nexusio.md
    # - tutorial/oasis.md
  # - How-To:
  #    - how-tos/howto.md
  - Learn:
    - explanation/learn.md
    # - explanation/apmapp.md
    - explanation/issues.md
  - Reference:
    - reference/contextualization.md
    - reference/apt.md
    - reference/epos.md
    - reference/pos.md
    - reference/rng.md
    - reference/rrng.md
    - reference/faufig.md
    - reference/pyccapt.md
    - reference/ato.md
    - reference/env.md
    - reference/csv.md
    - reference/inspico.md
    - reference/camecaroot.md
    - reference/mqanalysis.md
    - reference/atomtypes.md

plugins:
  - search

theme:
  name: material
  palette:
    primary: '#2A4CDF'
    accent: '#008A67'
  font:
    text: 'Titillium Web'
  logo: assets/nomad-plugin-logo.png
  favicon: assets/favicon.png
  features:
    - navigation.instant
    - navigation.footer
    - content.code.copy
    - content.code.annotate
    - search.suggest
  custom_dir: docs/theme
  icon:
    repo: fontawesome/brands/github

markdown_extensions:
  - attr_list
  - md_in_html
  - admonition
  - pymdownx.details
  - pymdownx.highlight:
      anchor_linenums: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - toc:
      permalink: True
  - pymdownx.arithmatex:
      generic: true
  - pymdownx.emoji
  - mkdocs-click
  - pymdownx.extra
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format

extra:
  generator: false

use_directory_urls: false

extra_css:
  - stylesheets/extra.css

extra_javascript:
  - javascript.js
  - https://polyfill.io/v3/polyfill.min.js?features=es6
  - https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js